*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1140px;
    margin:0 auto;
    padding:25px 0;
}

nav img{
    width:120px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    text-decoration:none;
    color:black;
}

nav button{
    background:#4F46E5;
    color:white;
    border:none;
    border-radius:6px;
    padding:10px 20px;
    cursor:pointer;
}